apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: data
provisioner: kubernetes.io/no-provisioner
reclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  storageClassName: data
  nfs:
    path: /mnt/disks/ssd1/data
    server: 192.168.64.2
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: data-pvc
spec:
  resources:
    requests:
      storage: 10Gi
  storageClassName: data
  accessModes:
    - ReadWriteMany
