docker_registry: 192.168.0.99
nfs:
  enabled: true
apps:
  updatebox:
    enabled: true
  appointments:
    enabled: true
  bahmni_config:
    enabled: true
  bahmni_filestore:
    enabled: true
  bahmni_mart:
    enabled: true
  bahmni_reports:
    enabled: true
  bahmniapps:
    enabled: true
  implementer_interface:
    enabled: true
  metabase:
    enabled: true
    service:
      loadBalancerIP: '192.168.0.10'
  mysql:
    enabled: true
  odoo:
    enabled: true
    service:
      loadBalancerIP: '192.168.0.11'
  odoo_connect:
    enabled: true
  openelis:
    enabled: true
    service:
      loadBalancerIP: '192.168.0.12'
  openmrs:
    enabled: true
  postgresql:
    enabled: true
  proxy:
    enabled: true
    service:
      loadBalancerIP: '192.168.0.13'
      port: 80